<h2 mat-dialog-title>Hola!</h2>
<mat-dialog-content>
    <p>Bienvenido!</p>
    <p>Esta app permitirá gestionar candidatos a ordenaciones del Sacerdocio.</p>
    <p>Antes que nada se debe crear un 'RESPONSABLE' <em>( Un hermano que se encargará de guiar y acompañar a uno o varios Candidatos en su proceso de preparación para recibir el Sacerdocio )</em></p>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-flat-button mat-dialog-close={{true}} color="primary">IR ALLÁ</button>
</mat-dialog-actions>