<app-main-nav>
    <div *ngFor="let candidato of candidatos" class="tarjeta">
        <mat-card (click)="editarCandidato(candidato['_id'])" class="example-card">
            <mat-card-header>
                <mat-card-title>{{candidato.nombre}}</mat-card-title>
                <mat-card-subtitle>Meta de ordenación: {{candidato.meta | date:'dd/MM/yyyy'}}<br>
                    <span>Celular: {{candidato.celular}}</span>


                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div class="contenedor_miniaturas">
                    <div [ngClass]="{'cumplida':candidato['gestiones'][0].l1}" class="miniatura ">
                        L1
                    </div>
                    <div [ngClass]="{'cumplida':candidato['gestiones'][0].l2}" class="miniatura ">
                        L2
                    </div>
                    <div [ngClass]="{'cumplida':candidato['gestiones'][0].l3}" class="miniatura ">
                        L3
                    </div>
                    <div [ngClass]="{'cumplida':candidato['gestiones'][0].l4}" class="miniatura">
                        L4
                    </div>
                    <div [ngClass]="{'cumplida':candidato['gestiones'][0].l5}" class="miniatura">
                        L5
                    </div>
                    <div [ngClass]="{'cumplida':candidato['gestiones'][0].l6}" class="miniatura">
                        L6
                    </div>
                    <div [ngClass]="{'cumplida':candidato['gestiones'][0].l7}" class="miniatura">
                        L7
                    </div>
                    <div [ngClass]="{'cumplida':candidato['gestiones'][0].rec}" class="miniatura">
                        REC
                    </div>
                </div>

            </mat-card-content>
        </mat-card>
    </div>

    <button *ngIf="puedeEditar" (click)="crearCandidato()" class="flotante" mat-fab color="primary" aria-label="Example icon button with a delete icon">
        <mat-icon >add</mat-icon>
      </button>
</app-main-nav>