<app-main-nav>
    <mat-progress-bar style="position:absolute" *ngIf="loader" mode="indeterminate"></mat-progress-bar>
    <div class="contenedor_formulario">
        <h1>Actualizar Candidato</h1>
        <div class="item_formulario">
            <mat-form-field color="accent" class="full-width">
                <mat-label>Nombre</mat-label>
                <input [(ngModel)]="candidato.nombre" matInput>
            </mat-form-field>
        </div>
        <div class="item_formulario">
            <mat-form-field color="accent" class="full-width">
                <mat-label>Celular</mat-label>
                <input [(ngModel)]="candidato.celular" type="number" matInput>
            </mat-form-field>
        </div>
        <div class="item_formulario">
            <mat-form-field color="accent" appearance="fill">
                <mat-label>Fecha de ordenación | Meta</mat-label>
                <input [min]="minDate" [(ngModel)]="candidato.meta" matInput [matDatepicker]="picker1">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="item_formulario">
            <div class="item_formulario">
                <button (click)="actualizarCandidato()" mat-raised-button color="primary">Actualizar</button>
                <a [routerLink]="['/home']" style=" margin-left:5px " mat-button>VER CANDIDATOS</a>
            </div>
        </div>
    </div>
</app-main-nav>