.contenedor_pagina {
    margin: 15px;
    padding: 15px;
}

.subtitulo {
    color: grey;
}

.nombre_candidato {
    font-size: 20px;
}

.gestion {
    margin: 5px;
    margin-bottom: 0px;
    width: 100%;
}

.flotante {
    position: absolute;
    top: 89px;
    left: 79%;
    background-color: #333333;
    padding: 10px;
    border-radius: 5px;
}