.contenedor_pagina {
    margin: 15px;
    padding: 15px;
}

.subtitulo {
    color: grey;
}

.nombre_candidato {
    font-size: 20px;
}

.gestion {
    margin: 5px;
    margin-bottom: 0px;
    width: 100%;
}

.contenedor_editar {
    position: absolute;
    top: 89px;
    left: 82%;
    background-color: #333333;
    padding: 5px;
    border-radius: 5px;
}

.contenedor_borrar {
    position: absolute;
    top: 89px;
    left: 71%;
    background-color: #333333;
    padding: 5px;
    border-radius: 5px;
}