<app-main-nav>

    <div class="contenedor_formulario">
        <h1>Nuevo Candidato</h1>
        <div class="item_formulario">
            <mat-form-field color="accent" class="full-width">
                <mat-label>Nombre</mat-label>
                <input autofocus matInput>
            </mat-form-field>
        </div>
        <div class="item_formulario">
            <mat-form-field color="accent" class="full-width">
                <mat-label>Celular</mat-label>
                <input type="number" matInput>
            </mat-form-field>
        </div>
    </div>

</app-main-nav>